<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">
<head>
    <meta charset="UTF-8">
    <title>메타데이터 브라우저</title>
</head>
<body>
<section  layout:fragment="content">


    <div class="container">
        <div class="headline">
            <div class="myprofile_wrap">
                <div class="item">
                    <div class="tit">
                        <img src="/images/ic_mail.png">
                        <p>이름</p>
                    </div>
                    <p class="desc" th:text="${user.userName}"></p>
                </div>
                <div class="item">
                    <div class="tit">
                        <img src="/images/ic_address.png">
                        <p>소속</p>
                    </div>
                    <p class="desc" th:if="${user.institution} != ''" th:text="${user.institution}">주식회사 OGQ</p>
                </div>
                <div class="item">
                    <div class="tit">
                        <img src="/images/ic_mypage.png">
                        <p>이메일</p>
                    </div>
                    <p class="desc" th:text="${user.email}"></p>
                </div>
            </div>
            <button class="btn_edit_profile" type="button" onclick="openUserInfoLayer();">정보변경</button>
        </div>
<!--        <div class="row profile">
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p><b>소속</b> : <span id="displayInstitution" th:if="${user.institution} != ''" th:text="${user.institution}"></span></p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p><b>이름</b> : <span id="displayUserName" th:text="${user.userName}"></span></p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <p><b>이메일</b> : <span th:text="${user.email}"></span></p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 btn-area">
                <span><button class="white-button" onclick="showModal('myInfoUpdateModal');">정보 변경</button></span>
                <span><button class="white-button" onclick="showModal('passwordUpdateModal');">비밀번호 변경</button></span>
            </div>
        </div>-->

        <!--<button class="white-button" id="removeCheckBox">선택 삭제</button>&nbsp;&nbsp;-->
        <!--<section th:replace="fragments/board/common :: title"></section>-->
        <div th:replace="fragments/board/list :: myProfileWebzine"></div>
        <div th:replace="fragments/board/pagination :: basic"></div>
    </div>


    <div class="popup_show none" id="changeUserInfo">

        <div class="overlay_dim">

            <div class="main_box">
                <form id="updateMyAccountForm">
                    <div class="head_wrap">
                        <p class="head_tit">개인정보 변경</p>
                    </div>
                    <input type="hidden" name="id" id="id" th:value="${user.id}">
                    <div class="input_group">
                        <div class="input_item">
                            <p class="tit">소속</p>
                            <input type="text" id="institution" name="institution" th:value="${user.institution}" maxlength="64">
                        </div>
                        <div class="input_item">
                            <p class="tit">이름</p>
                            <input type="text" id="userName" name="userName" th:value="${user.userName}" placeholder="홍길동" maxlength="32">
                        </div>
                        <div class="input_item">
                            <p class="tit">이메일주소</p>
                            <input type="text" name="e" th:value="${user.email}" readonly="true" disabled="true">
                        </div>
                    </div>
                    <div class="btns_for_popup two">
                        <button type="button" class="btn_cta cancel" onclick="closeUserInfoLayer()">취소</button>
                        <button type="submit" class="btn_cta ok green">변경하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="css">
    <style th:inline="text">

    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function openUserInfoLayer() {
            $('#changeUserInfo').removeClass('none');
        }

        function closeUserInfoLayer() {
            $('#changeUserInfo').addClass('none');
        }

        $(document).ready(function(){




            $('#byteString1').text($('#institution').val().length+' / 64');
            $('#byteString2').text($('#userName').val().length+' / 32')

/*

            var $videoTableHeadTr = $('#videoTable thead tr');
            $videoTableHeadTr.prepend("<th><input id='removeAll' type='checkbox'></th>");
            $videoTableHeadTr.append("<th>삭제</th>");
            var $videoTableBodyTr = $('#videoTable tbody tr');
            $videoTableBodyTr.prepend("<td><input class='removeCheck' type='checkbox' name='id'></td>");
            $videoTableBodyTr.append("<td><button class='white-button removeButton' type='button' value='삭제'>삭제</button></td>");
*/

            updateVideoDuration($('.list'));
            var $removeCheck = $('.list').find('input:checkbox');
/*

            var $removeCheck = $videoTableBodyTr.find('input:checkbox');
            for(var i = 0; i < $removeCheck.length; i++){
                //console.log($($removeCheck[i]).parent());
                var contentId = $($removeCheck[i]).parent().parent().data('id');
                $($removeCheck[i]).prop('value',contentId);

            }*/
            $('#updateMyAccountForm').on('submit',onSubmitMyAccount);
            $('#updatePWForm').on('submit',onSubmitChangePassword);


           /* $('#removeAll').on("click", function() {
                CheckBoxUtils.checkAll(this, '#videoTable tbody tr');

            });*/

            /*$removeCheck.on('click',function () {
                CheckBoxUtils.checkItem(this,'#videoTable', '#removeAll');

            });*/

            $('.item-delete .btn').on('click',function (){
                $('#delCount').text(1);
                showModal('deleteModal');
                //$('#removeAll').prop('checked',false);
                $removeCheck.prop('checked', false);

                $('#removeConfirm').off('click').on('click',confirmRemoveItem(getSelectItem,this));

            });

            $('#removeCheckBox').on('click',function(){
                $('#delCount').text($('.removeCheck:checked').length);
                showModal('deleteModal');
                $('#removeConfirm').off('click').on('click',confirmRemoveItem(getCheckBoxItems));

            });




        });


        function onSubmitMyAccount() {
            if ($('#userName') == null || $('#userName').val() == null || $('#userName').val().length == 0) {
                $('#userName').val("");
            } else {
                var formData = $("#updateMyAccountForm").serializeObject();
                $.ajax({
                    url: '/account/users/detail',
                    data: formData,
                    type: 'POST',
                    dataType: 'json',

                    beforeSend: function (x) {
                    },
                    success: function (data) {
                        $('#displayUserName').text(formData.userName);
                        $('#displayInstitution').text(formData.institution);
                        alert('정보 변경에 성공하였습니다.');
                        closeUserInfoLayer();

                    },
                    error: function(resp){
                    }
                });
            }
            return false;
        }

        function onSubmitChangePassword(){

            //alert('submit');
            var oldPassword = $("#oldPassword").val();
            var password1 = $("#password1").val();
            var formData = {userOldPassword:oldPassword,
                id:$('#id').val(),
                userPassword:password1};
            $.ajax({
                url: '/account/users/detail/password',
                data: formData,
                type: 'POST',
                dataType: 'json',

                beforeSend: function (x) {
                },
                success: function (data) {
                    alert('비밀번호 변경에 성공하였습니다.');
                    $("#oldPassword").val('');
                    $("#password1").val('');
                    $("#password2").val('');
                    hideModal();


                },
                error: function(resp){
                    alert('사용자 정보가 일치하지 않습니다.');
                }
            });
/*

            var oldPassword = $("#oldPassword").val();
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();
            if(checkPWForm(oldPassword, password1, password2)){
                var formData = {userOldPassword:oldPassword,
                                userId:$('#userId').val(),
                                userPassword:password1};
                $.ajax({
                    url: '/account/users/detail/password',
                    data: formData,
                    type: 'POST',
                    dataType: 'json',

                    beforeSend: function (x) {
                    },
                    success: function (data) {
                        $('#displayUserName').text(formData.userName);
                        $('#displayInstitution').text(formData.institution);
                        alert('정보 변경에 성공하였습니다.');

                    },
                    error: function(resp){
                    }
                });
            };
*/

            return false;
        }


        function checkPWForm(oldPassword, password1, password2) {
            var str0 = "";

            var str4 = "* 비밀번호를 입력해주세요.";
            var str5 = "* 비밀번호가 일치하지 않습니다.";
            var str6 = "* 최소 8자리 이상 입력해주세요.";

            var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{2,5}$/;


            if (oldPassword == null || oldPassword.length == 0) str0 = str4;//
            else if (password1 == null || password1.length < 8 || password2 == null || password2.length < 8) str0 = str6;//
            else if (password1 != password2) str0 = str5;//
            else return true;

            $("#caution2").text(str0);
            return false;

        }


        function confirmRemoveItem(getItem, evtContainer){

            return function(){
                var contentIds = getItem(evtContainer);

                ajaxRemoveItems(contentIds);
            }
        }

        function getCheckBoxItems(){
            var removeItems = [];
            $('.removeCheck:checked').each(function(){
                removeItems.push($(this).val());
            });

            return removeItems.join(',');

        }

        function getSelectItem(context){
            var contentId = $(context).parent().parent().data('id');
            return contentId;
        }

        function ajaxRemoveItems(items){
            $.ajax({
                url: '/content/videos/'+items,
                type: 'DELETE',

                beforeSend: function (x) {
                },
                success: function (data) {
                    alert('콘텐츠 삭제에 성공하였습니다.');
                    document.location.reload();

                },
                error: function(resp){
                }
            });
        }
    </script>
</th:block>
</body>
</html>