<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">
<head>
    <meta charset="UTF-8">
    <title>메타비디오 브라우저</title>
</head>
<body>
<section layout:fragment="content">

    <div class="register-container">
        <h2>회원가입</h2>
        <div class="dummy-div"></div>
        <div class="box_info">
            <form id="registerForm" action="/registration/users">
                <div class="item">
                    <label>소속</label>
                    <div class="input-container">
                        <input type="text" id="institution" name="institution"
                               placeholder="소속 기관 또는 회사명(선택입력)" maxlength="64"
                               onkeyup='valChecker($(this),64, $("#byteLength1"));'>
                        <p id="byteLength1" class="input-length">0 / 64</p>
                    </div>
                </div>


                <div class="item">
                    <label>이름</label>
                    <div class="input-container">
                        <input type="text" id="userName" name="userName"
                               placeholder="서비스내에서 표시될 이름(선택입력)" maxlength="32"
                               onkeyup='valChecker($(this),32, $("#byteLength2"));'>
                        <p style="margin-left: 8px;" class="description">* 이름 입력시 이메일 주소의 일부가 이름으로 사용됩니다.</p>
                        <p id="byteLength2" class="input-length">0 / 32</p>

                    </div>
                </div>
                <div class="item">
                    <label>이메일</label>
                    <div class="input-container">
                        <input type="email" id="email" name="email"
                               placeholder="이메일 주소는 가입인증 및 아이디로 사용됩니다." maxlength="128" title="유효하지 않은 이메일 또는 가입된 이메일입니다."
                               onkeyup='valChecker($(this),128, $("#byteLength3"));'
                               onblur="checkDuplicateEmail($(this));"
                               required>
                        <p id="byteLength3" class="input-length">0 / 128</p>
                        <p id="caution1" class="txt_message"></p>
                    </div>
                </div>
                <div class="item">
                    <label for="password">비밀번호</label>
                    <div class="input-container">
                        <input type="password" id="password" name="password"
                               placeholder="최소 8자 이상" onchange="form.passwordCheck.pattern = this.value;" minlength="8" required>
                    </div>
                </div>
                <div class="item">
                    <label for="passwordCheck">비밀번호 재확인</label>
                    <div class="input-container">
                        <input type="password" id="passwordCheck" name="passwordCheck" pattern="" title="비밀번호가 일치하지 않습니다."
                               placeholder="동일한 비밀번호를 입력해주세요." minlength="8" required>
                        <p id="caution2" class="txt_message"></p>
                    </div>
                </div>

                <div class="item">
                <hr/>
                </div>
                <div class="item">
                    <button name="submit" type="submit">회원 가입</button>
                </div>
            </form>
        </div>


    </div>
</section>

<th:block layout:fragment="css">
<style th:inline="text">

</style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            var typingTimer;
            var doneTypingInterval = 500;
            var $input = $('#email');

            $input.on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            $input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            function doneTyping () {
                checkDuplicateEmail($input);
            }
            $('#registerForm').on('submit',function(){
                postAccount();

                return false;
            });

        });
        function goJoin() {
            //checkJoininForm();
            if ($("#caution1").text().length == 0 && $("#caution2").text().length == 0) {
                //window.location.href="/login";
                // TODO: 개발용 링크 제거, 메일발송








                //$('form').submit();
                //xhrSignin.submit();
            }
        }



        function checkDuplicateEmail($this){

            var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{2,5}$/;
            if (!reg.test($this.val())){
                return;
            }
            $this.prop('pattern','');
            $.ajax({
                url: '/registration/users/'+$this.val(),
                contentType: 'application/json',

                beforeSend: function (x) {
                },
                success: function (data) {
                    $this.prop('pattern',$this.val());
                    //registerFunc();

                },
                error:function(){
                }
            });
        }

        function postAccount(){
            var formData = $("#registerForm").serialize();
            $.ajax({
                url: '/registration/users',
                data: formData,
                type: 'POST',
                dataType: 'json',

                beforeSend: function (x) {
                },
                success: function (data) {
                    showGeneralModal("가입인증 메일 발송", "입력하신 " + $("#email").val() + "(으)로 가입인증 메일을 발송했습니다.");
                },
                error: function(resp){
                }
            });
        }
/*
        var xhrSignin;
        $(function () {
            xhrSignin = $('form').ajaxForm({
                fail: function () {
                    console.log('fail!!!!!!!!');
                },
                complete: function (xhr) {
                    console.log('complete!!!!!!!!');
                    console.log(xhr.responseText);
                    if (xhr.responseText == "OK") {
                        showGeneralModal("가입인증 메일 발송", "입력하신 " + $("#emailAddress").val() + "으로 가입인증 메일을 발송했습니다.");
                    } else if (xhr.responseText == "Duplicate") {
                        console.log('Duplicate!!!!!!!!');
                        $("#caution1").text(str3);
                    } else "Fail";
                }
            });
        });*/

        //  span.onclick = function() {
        //if(event.id=="generalModal"){
        //location.href="${pageContext.request.contextPath}/login";
        //}
        //  }

        function hiderCallback(event) {
            if (event.id == "generalModal") {
                location.href = "${pageContext.request.contextPath}/login";
            }
        }

        function checkJoininForm() {
            str0 = "";
            str1 = "* 이메일을 입력해주세요.";
            str2 = "* 잘못된 이메일 주소 입니다.";
            str3 = "* 이미 등록된 이메일 주소 입니다.";

            str4 = "* 비밀번호를 입력해주세요.";
            str5 = "* 비밀번호가 일치하지 않습니다.";
            str6 = "* 최소 8자리 이상 입력해주세요.";

            var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{2,5}$/;


            var emailAddress = $("#emailAddress").val();
            var password1 = $("#password").val();
            var password2 = $("#password-c").val();

            if (!reg.test(emailAddress)) str0 = str2;

            if (emailAddress == null || emailAddress.length == 0) str0 = str1;//
            //else if(accountPW==null || accountPW.length==0) str0=str3;//TODO 넘기고나서 처리.
            else ;
            $("#caution1").text(str0);

            if (password1 == null || password1.length == 0) str0 = str4;//
            else if (password2 == null || password1 != password2) str0 = str5;//
            else if (password1 == null || password1.length < 8) str0 = str6;//
            else ;

            $("#caution2").text(str0);


        }


    </script>
</th:block>
</body>
</html>