<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <footer th:fragment="footer" class="footer" id="mainFooter">
        <div class="container">
            <div class="info_symbol">
                <img class="logo_ogq_gray" src="/images/logo_ogq_footer.png">
                <p class="copyright">© OGQ Corp.</p>
            </div>
            <div class="info_txt">
                <div class="item">
                    <p class="tit">대표이사</p>
                    <p class="desc">신철호</p>
                </div>
                <div class="item">
                    <p class="tit">주소</p>
                    <p class="desc">서울특별시 강남구 논현로 164 10F</p>
                </div>
                <div class="item">
                    <p class="tit">사업자등록번호</p>
                    <p class="desc">220-86-76113</p>
                </div>
                <div class="item">
                    <p class="tit">이메일</p>
                    <p class="desc">ogq_vtt@ogqcorp.com</p>
                </div>
                <div class="item">
                    <p class="tit">통신판매업신고번호</p>
                    <p class="desc">제 2018-서울강남-03954호</p>
                </div>
            </div>
        </div>

        <div id="uploadingModal" class="modal none">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-body">
                    <button onclick="move()" style="display: none">Click Me to test.</button>
                    <p class="p-h3">동영상을 업로드 중 입니다.</p>
                    <div id="myProgress">
                        <div id="myBar" style="width:0%;"></div>
                    </div>
                    <p class="p-grey"><span id="progressPercent">0 %</span> &nbsp;(<span id="uploadPosition">0</span> / <span id="uploadTotal">0</span> MB)</p>
                </div>
                <div class="close-div modal-footer" style="display:inline;">
                    <p id="btnCancelXhr">취소</p>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="uploadCompleteModal" class="modal none">
            <div class="modal-content">
                <div class="modal-body download-complete">
                    <p class="p-h3">업로드 완료</p>
                    <p>&nbsp;</p>
                    <p class="">업로드된 동영상은 수분 후 목록에 보여집니다.</p>
                </div>
                <div class="close-div modal-footer ">
                    <p>확인</p>
                </div>
            </div>
        </div>
    </footer>

</html>