<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
 
<head>
<meta name="description" content="" layout:fragment="meta-desc" />
<meta property="og:title" th:content="'['+${board.category+'] '+board.title}"/>
<meta property="og:url" th:content="${#httpServletRequest.requestURL}"/>
<meta property="og:description" th:content="${board.summary}"/>
<meta property="og:image" th:content="${board.thumbnailUri}"/>

  <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
  <th:block th:include="fragments/headerInc :: headerInc"></th:block> 
  <th:block layout:fragment="css"></th:block> 
  <style type="text/css">
  

  </style>

</head>
<body>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "5b76801dad222c";
wcs_do();
</script>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="main-container"> 
	<div class="container">
		<section th:replace="fragments/board/common :: readTitle"></section>
		<section th:replace="fragments/board/read :: basic"></section>
		<section th:replace="fragments/board/read :: bottom-gallery"></section>
	</div>
</div>
<div layout:fragment="content">
</div>
		
<footer th:replace="fragments/footer :: footer"></footer>
<th:block layout:fragment="script"></th:block>

	<script type="text/javascript">
$(document).ready(function(){

	  initNavbar();
	  ready();
	  changeFileIcon();
	  
	 /*    $('.show-modal').on('click', function(e){

	        e.preventDefault();

	        var url = $(this).attr('href');
	        var dialog = $('#readModal');


	        $.get(url).done(function(response, status, jqxhr) {
	        	if(response != null){
	        		if($('#readModalLabel').exists()){
	        			$('#readModalLabel').text(response.title);
	        		}
	        		if($('#readModalContent').exists()){
	        			$('#readModalContent').html(response.content);
	        		}
	        	}
	        	console.log(response);

	        });
	    

	    }); */
	    


	});
	
	var firstImg=$(".imageblock:first-of-type img");
	var contents=""; 
	if(firstImg.attr("src")){
		var firstImgSrc=firstImg.attr("src"); 
		var firstImgRatio = parseInt(firstImg.css("height"))/parseInt(firstImg.css("width")); 
		if (firstImgRatio <=0.27)
			var firstImgRatio=0.27; 
	}else{
		var firstImgSrc=location.origin+"/favicon.ico";
		var firstImgRatio=1
	} 
	function shareKakao(selector) {

		Kakao.init('d9ff0341cbadbf49d2a47d86f51cd00f'); // 사용할 앱의 JavaScript 키를 설정해 주세요. 
		
		Kakao.Link.sendTalkLink({ label: $(selector).val(), // 공유할 메세지의 제목을 설정 
			image: { src: firstImgSrc, 
				width: '300', 
				height: parseInt(300*firstImgRatio) 
			} // 이건 썸네일을 설정 하는 겁니다. 
			, webButton: {
				text: '012H에 방문하기', 
				url : document.URL // 각각의 포스팅 본문의 링크를 거는 코드입니다. 
			} 
		}); 
	}
	
	function shareTwitter(selector){
		window.open('http://twitter.com/intent/tweet?text='+$(selector).val()+'&url='+document.URL);
	}
	function shareFacebook(selector){
		window.open('https://www.facebook.com/sharer/sharer.php?u='+document.URL);
	}


</script>
</body>
</html>