<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
 
<head>
<meta name="description" content="" layout:fragment="meta-desc" />
  <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
  <th:block th:include="fragments/headInc :: headInc"></th:block>
  <th:block layout:fragment="css"></th:block> 
  <style type="text/css">

  </style>

</head>
<body>
<script type="text/javascript">
</script>
<header th:replace="fragments/header :: header"></header>
<div class="main-container"> 
	<div class="container">
		<!--<section th:replace="fragments/board/common :: title"></section>-->
		<div th:replace="fragments/board/read :: video"></div>
	</div>
</div>
<div layout:fragment="content">
</div>
		
<footer th:replace="fragments/footer :: footer"></footer>
<th:block layout:fragment="script"></th:block> 

<script type="text/javascript">
  $(document).ready(function(){

/*
      var canvas = document.getElementById('videoWrapper');
      var ctx = canvas.getContext('2d');
      var video = document.getElementById('video1');

      video.addEventListener('loadedmetadata', function() {
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
      });


      canvas.addEventListener('click', function() {
          $('#videoWrapper').css('display','inline');
      });

      video.addEventListener('play', function() {
          var $this = this; //cache
          $('#videoWrapper').css('display','none');
          (function loop() {
              if (!$this.paused && !$this.ended) {
                  ctx.drawImage($this, 0, 0);
                  setTimeout(loop, 1000 / 30); // drawing at 30fps
              }
          })();
      }, 0);*/

      $('.item-download .btn').on('click',downloadContent);

	  //initNavbar();
	  //ready();
	 /*    $('.show-modal').on('click', function(e){

	        e.preventDefault();

	        var url = $(this).attr('href');
	        var dialog = $('#readModal');


	        $.get(url).done(function(response, status, jqxhr) {
	        	if(response != null){
	        		if($('#readModalLabel').exists()){
	        			$('#readModalLabel').text(response.title);
	        		}
	        		if($('#readModalContent').exists()){
	        			$('#readModalContent').html(response.content);
	        		}
	        	}
	        	console.log(response);

	        });
	    

	    }); */
  });

  function downloadContent(){
      var urls = [];
      urls.push({href:$(this).data('href'), download:$(this).data('download')});
      WebUtils.downloadAll(urls);
  }
  
  
  function initNavbar(){
	  /**
	   * This object controls the nav bar. Implement the add and remove
	   * action over the elements of the nav bar that we want to change.
	   *
	   * @type {{flagAdd: boolean, elements: string[], add: Function, remove: Function}}
	   */
	  var myNavBar = {

	      flagAdd: true,

	      elements: [],

	      init: function (elements) {
	          this.elements = elements;
	      },

	      add : function() {
	          if(this.flagAdd) {
	              for(var i=0; i < this.elements.length; i++) {
	                  document.getElementById(this.elements[i]).className += " fixed-theme";
	              }
	              this.flagAdd = false;
	          }
	      },

	      remove: function() {
	    	  
	          for(var i=0; i < this.elements.length; i++) {
	              document.getElementById(this.elements[i]).className =
	                      document.getElementById(this.elements[i]).className.replace( /(?:^|\s)fixed-theme(?!\S)/g , '' );
	          }
	          this.flagAdd = true;
	      }

	  };

	  /**
	   * Init the object. Pass the object the array of elements
	   * that we want to change when the scroll goes down
	   */
	  myNavBar.init(  [
	      "header",
	      "headerContainer",
	      "brand",
	      "navbar"
	  ]);

	  /**
	   * Function that manage the direction
	   * of the scroll
	   */
	  function offSetManager(){

	      var yOffset = 0;
	      var currYOffSet = window.pageYOffset;

	      if(yOffset < currYOffSet) {
	          myNavBar.add();
	      }
	      else if(currYOffSet == yOffset){
	          myNavBar.remove();
	      }

	  }

	  /**
	   * bind to the document scroll detection
	   */
	  window.onscroll = function(e) {
	      offSetManager();
	  }
	  
	    $('#navContainer').hover(            
	            function() {
	            	if($( window ).width()>=768){
	            		$("#navToggleMenu",this).stop(true,true).slideDown(400);	
	            	}else{
	            		$("#navToggleMenu",this).stop(true,true).slideUp(400);
	            	}
	            	
	            },
	            function() { 
	            	if($( window ).width()>=768){
	                	$("#navToggleMenu",this).stop(true,true).slideUp(400);
	            	}
	            }
	        );
	  /* 
	  $('a').on('hover',function(e){
		  console.log('test');
		   if (e.type == "mouseenter") {
			   $('.nav-link', this).slideDown("400");
		       console.log("one");   
		       $('##navToggleMenu');
		    }
		    else { // mouseleave
		    	$('.nav-link', this).slideUp("400");
		        console.log("two");   
		    }
	  }); */

	  /**
	   * We have to do a first detectation of offset because the page
	   * could be load with scroll down set.
	   */
  }
  
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var shots = /*[[${board.shots}]]*/ [];

    console.log(shots);

    /*]]>*/


</script>
<script>
    function onTimeUpdate(){


        //console.log($(this));
        if(shots.length > 0) {
            updateTags.apply(this);
        }



    }

    var currentIndex = 0;
    var shotLength = shots.length;
    var $detailTags;
    function updateTags(){
        var currentTime = $(this)[0].currentTime;

        if(!$detailTags){
            $detailTags = $('#detailTags');
        }


        //console.log(currentTime);
        for(var i = currentIndex; i < shotLength; i++){
            if(shots[i].starttime <= currentTime && currentTime < shots[i].endtime ){
                currentIndex++;
                var element = '';
                if(shots[i].tags.length > 0){
                    element = '<div class="item_tag">#'+shots[i].tags.join('</div><div class="item_tag">#')+'</div>'
                }else{
                    element = '';
                }

                $detailTags.html(element);


                break;
            }
        }

        //var key = (currentTime+'').toHHmmssSSS();



        //lastTime = currentTime;
    }


    function onSeeked(){
        initTagInfo();
    }

    function initTagInfo(){
        currentIndex = 0;
    }
</script>
</body>
</html>