<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
 
<head>
<meta name="description" content="" layout:fragment="meta-desc" />
  <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
  <th:block th:include="fragments/headInc :: headInc"></th:block>
  <th:block layout:fragment="css"></th:block> 
  <style type="text/css">
  
/*   body .modal-dialog { 
    max-width: 100%;
    width: auto !important;
    display: inline-block;
	} */
	.modal-dialog{
		width:auto;
		height:auto;
		max-height:100%;
	}
  </style>

</head>
<body>
<script type="text/javascript">
</script>
<header th:replace="fragments/header :: header"></header>
<div class="main-container"> 
	<div class="container" style="width:100%;">
		<!--<section th:replace="fragments/board/common :: title"></section>-->
        <div class="top">
            <div class="menu-title"><p>비디오</p></div>
            <div class="upload">
                <a href="./videos/write">
                    <button class="btn btn-outline-danger">비디오 업로드</button>
                </a>
            </div>
        </div>

		<div th:replace="fragments/board/list :: videoWebzine"></div>
		<div th:replace="fragments/board/pagination :: basic"></div>
	</div>
</div>
<div layout:fragment="content">
</div>
		
<footer th:replace="fragments/footer :: footer"></footer>
<th:block layout:fragment="script"></th:block> 

<script type="text/javascript">
  $(document).ready(function(){

	  //initNavbar();
	  //ready();
	 /*    $('.show-modal').on('click', function(e){

	        e.preventDefault();

	        var url = $(this).attr('href');
	        var dialog = $('#readModal');


	        $.get(url).done(function(response, status, jqxhr) {
	        	if(response != null){
	        		if($('#readModalLabel').exists()){
	        			$('#readModalLabel').text(response.title);
	        		}
	        		if($('#readModalContent').exists()){
	        			$('#readModalContent').html(response.content);
	        		}
	        	}
	        	console.log(response);

	        });
	    

	    }); */

      var $videoTableBodyTr = $('#videoTable tbody tr');
      updateVideoDuration($videoTableBodyTr);

      $('#downloadSelectBtn').on('click',function(){
          //WebUtils.downloadAll();
          var urls = [];
          $('.downloadCheck:checked').each(function() {
              urls.push({href:$(this).val(), download:$(this).data('download')});
          });
          console.log(urls);
          WebUtils.downloadAll(urls);
          return false;

      });
      var $downloadAllCheck = $('#downloadAllCheck');


      $downloadAllCheck.on("click", function() {
          CheckBoxUtils.checkAll(this, '.list .item-checkbox');

      });

  });
  
  
  function initNavbar(){
	  /**
	   * This object controls the nav bar. Implement the add and remove
	   * action over the elements of the nav bar that we want to change.
	   *
	   * @type {{flagAdd: boolean, elements: string[], add: Function, remove: Function}}
	   */
	  var myNavBar = {

	      flagAdd: true,

	      elements: [],

	      init: function (elements) {
	          this.elements = elements;
	      },

	      add : function() {
	          if(this.flagAdd) {
	              for(var i=0; i < this.elements.length; i++) {
	                  document.getElementById(this.elements[i]).className += " fixed-theme";
	              }
	              this.flagAdd = false;
	          }
	      },

	      remove: function() {
	    	  
	          for(var i=0; i < this.elements.length; i++) {
	              document.getElementById(this.elements[i]).className =
	                      document.getElementById(this.elements[i]).className.replace( /(?:^|\s)fixed-theme(?!\S)/g , '' );
	          }
	          this.flagAdd = true;
	      }

	  };

	  /**
	   * Init the object. Pass the object the array of elements
	   * that we want to change when the scroll goes down
	   */
	  myNavBar.init(  [
	      "header",
	      "headerContainer",
	      "brand",
	      "navbar"
	  ]);

	  /**
	   * Function that manage the direction
	   * of the scroll
	   */
	  function offSetManager(){

	      var yOffset = 0;
	      var currYOffSet = window.pageYOffset;

	      if(yOffset < currYOffSet) {
	          myNavBar.add();
	      }
	      else if(currYOffSet == yOffset){
	          myNavBar.remove();
	      }

	  }

	  /**
	   * bind to the document scroll detection
	   */
	  window.onscroll = function(e) {
	      offSetManager();
	  }
	  
	    $('#navContainer').hover(            
	            function() {
	            	if($( window ).width()>=768){
	            		$("#navToggleMenu",this).stop(true,true).slideDown(400);	
	            	}else{
	            		$("#navToggleMenu",this).stop(true,true).slideUp(400);
	            	}
	            	
	            },
	            function() { 
	            	if($( window ).width()>=768){
	                	$("#navToggleMenu",this).stop(true,true).slideUp(400);
	            	}
	            }
	        );
	  /* 
	  $('a').on('hover',function(e){
		  console.log('test');
		   if (e.type == "mouseenter") {
			   $('.nav-link', this).slideDown("400");
		       console.log("one");   
		       $('##navToggleMenu');
		    }
		    else { // mouseleave
		    	$('.nav-link', this).slideUp("400");
		        console.log("two");   
		    }
	  }); */

	  /**
	   * We have to do a first detectation of offset because the page
	   * could be load with scroll down set.
	   */
  }
  
</script>
</body>
</html>