<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
 
<head>
<meta name="description" content="" layout:fragment="meta-desc" />
  <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
  <th:block th:include="fragments/headInc :: headInc"></th:block>
  <th:block layout:fragment="css"></th:block> 
  <style type="text/css">
  
/*   body .modal-dialog { 
    max-width: 100%;
    width: auto !important;
    display: inline-block;
	} */
	.modal-dialog{
		width:auto;
		height:auto;
		max-height:100%;
	}
  </style>

</head>
<body>
<script type="text/javascript">
</script>
<header th:replace="fragments/header :: header"></header>
<div class="main-container">
	<div class="container">
		<!--<section th:replace="fragments/board/common :: title"></section>-->

		<div th:replace="fragments/board/write :: video"></div>
	</div>
</div>
<div layout:fragment="content">
</div>
		
<footer th:replace="fragments/footer :: footer"></footer>
<th:block layout:fragment="script"></th:block> 

<script type="text/javascript">
    var ajax;
  $(document).ready(function(){
      var desMobile = function (){
          var width_size = $(window).width();
          if (width_size <= 640) {
              //// Mobile
              $(".searchdown_wrap").after($(".search_wrap"));

          } else {
              //// PC
              $(".search_wrap").prependTo(".searchdown_wrap");

          };
      };
      $(window).resize(desMobile);
      desMobile();

      $('form').on('submit',onSubmitForm);

      $('#btnCancelXhr').on('click',function(){
          ajax.abort();
          alert('취소');
          hideModal('#uploadingModal');
      })
  });

  function onSubmitForm(){
      if(!$('#agreeYn').is(':checked')){
          alert('라이선스 규칙 준수에 동의하세요.');
          $('#agreeYn').focus();
          return;
      }
      var formSelector = document.querySelector("form");

      var formData = new FormData(formSelector);
      console.log(formData);
      ajax = $.ajax({
          url: './',
          data: formData,
          type: 'POST',
          dataType: 'json',
          contentType:false,
          processData:false,
          xhr: function() {
              var myXhr = $.ajaxSettings.xhr();
              if(myXhr.upload){
                  myXhr.upload.addEventListener('progress',WebUtils.xhrProgress, false);
              }

              return myXhr;
          },
          beforeSend: function (x) {
              showModal('uploadingModal');
          },
          success: function (data) {
              $('#displayUserName').text(formData.userName);
              $('#displayInstitution').text(formData.institution);
              hideModal('#uploadingModal');
              alert('파일 업로드에 성공하였습니다.');
              window.location.replace("/");


          },
          error: function(resp){
          }
      });

      return false;
  }

</script>
</body>
</html>