<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>메타데이터 브라우저</title>
</head>
<body>
<section layout:fragment="content">
    메인
</section>

<th:block layout:fragment="css">
<style th:inline="text">

</style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>