<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
</head>
<body>
<section layout:fragment="content" class="login">
    <div class="login-container container">
        <form th:action="@{/login}" method="post" class="form-signin">
            <div class="row">
                <div class="p-h2">환영합니다!</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="email" id="email" name="email" placeholder="아이디(이메일)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="password" id="password" name="password" placeholder="비밀번호"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button name="Submit" type="Submit" text="로그인">로그인</button>
                </div>
            </div>

        </form>
        <b><a href="/registration">회원가입</a></b> |
        <!--<a onclick="showModal('findID');">아이디 찾기</a> |-->
        <a onclick="goFindPW()">비밀번호 찾기</a>
    </div>
</section>


<th:block layout:fragment="css">
    <style th:inline="text">

    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<script>


    function goLoginOK() {
        checkLoginForm();
        if ($(".txt_message").text().length == 0) {
            $('form').submit();
        } else {
        }
    }

    var str0 = "";
    var str1 = "* 존재하지 않는 아이디 입니다.";
    var str2 = "* 아이디를 입력해주세요.";
    var str3 = "* 입력한 비밀번호가 일치하지 않습니다.";
    var str4 = "* 비밀번호를 입력해주세요.";
    var str5 = "* 아이디를 입력해주세요.";
    var str6 = "* 존재하지 않는 아이디 입니다.";

    function checkLoginForm() {

        var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.@]*/;


        var accountID = $("#accountID").val();
        var accountPW = $("#accountPW").val();

        if (!reg.test(accountID)) str0 = str1;
        console.log('accountPW: ' + accountPW);
        if (accountID == null || accountID.length == 0) str0 = str2;//
        //else if(accountPW==null || accountPW.length==0) str0=str3;//넘기고나서 처리.
        else if (accountPW == null || accountPW.length == 0) str0 = str4;//
        else str0 = "";

        $(".txt_message").text(str0);


    }

    function checkFindPWForm() {
        str0 = "";
        str5 = "* 아이디를 입력해주세요.";
        str6 = "* 존재하지 않는 아이디 입니다.";

        var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.@]*/;


        var accountID = $("#accountID").val();

        if (!reg.test(accountID)) str0 = str6;

        if (accountID == null || accountID.length == 0) str0 = str5;
        else if (accountID == null || accountID.length == 0) str0 = str6;

        else ;

        $(".txt_message").text(str0);

    }


    function checkFindIDPopupForm() {
        str11 = "* 소속 또는 이름을 입력해주세요.";
        str12 = "* 아이디를 확인할 이메일을 입력해주세요.";
        str13 = "* 잘못된 이메일 주소 입니다.";

        var reg = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{2,5}$/;

        var userOrgan = $("#pi1").val();
        var userName = $("#pi2").val();
        var userEmail = $("#pi3").val();

        $("#caution1").text("");
        $("#caution2").text("");
        if ((userOrgan == null || userOrgan.length == 0)
            && (userName == null || userName.length == 0)) {
            $("#caution1").text(str11);
        }

        if (userEmail == null || userEmail.length == 0) {
            $("#caution2").text(str12);
        } else if (!reg.test(userEmail)) {
            $("#caution2").text(str13);
        }

    }

    function goFindID() {
        checkFindIDPopupForm();
        if ($("#caution2").text().length == 0) {
            $.get("${pageContext.request.contextPath}/account/findIDOK"
                + "?pi1=" + $("#pi1").val()
                + "&pi2=" + $("#pi2").val()
                + "&pi3=" + $("#pi3").val()
                , function () {
                });
            showGeneralModal("알림", "확인이 끝난 후, 입력해주신 " + $("#pi3").val() + "으로 아이디를 보내드립니다.")
        }
    }

    function goFindPW() {
        checkFindPWForm();
        if ($(".txt_message").text().length == 0) {
            //TODO 비밀번호 찾기 처리
            ///account/resetPassword
            //비밀번호 찾기 완료팝업, 임시비번생성, DB갱신, 이메일
            $.get("${pageContext.request.contextPath}/account/resetPassword?accountID=" + $("#accountID").val(), function () {
            });
            showGeneralModal("임시 비밀번호 메일 발송", "" + $("#accountID").val() + "으로 임시 비밀번호를 발급하여 보내드렸습니다.")
        }
    }

    //checkFindPWForm();


</script>


</body>
</html>