<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<head>
</head>

<div th:fragment="basic">
		<div class="text-center" aria-label="Page navigation" th:if="${page.totalPages>0}">
			<ul class="pagination d-inline-flex" 
				th:with="elementsperpage=2, blocksize=5, 
						pages=${page.number+1}/${elementsperpage}, 
						wholepages=${T(Math).ceil(pages)},
						whole=(${page.number+1}/${blocksize})+1, 
						wholex=${T(Math).ceil(whole)}, 
						startnlockpage=${wholepages}*${blocksize+1}, 
						endblockpage=${wholepages}*${blocksize+1}, 
						startpage=${wholex-1}*${blocksize}, 
						endpage=(${wholex}*${blocksize})+1">
				<li class="page-item" th:classappend="*{page.first} ? 'disabled' : ''">
					<a th:href="@{''(page=${page.number-1})}" class="page-link" data-th-attr="page=${page.number} - 1" aria-label="Previous">
						<span aria-hidden="true">«</span>
					</a>
				</li>
 				<li class="page-item" th:each="i : ${#numbers.sequence(endpage-11, (endpage lt page.totalPages)? endpage-2 : page.totalPages-1)}" th:classappend="${page.number}==${i}?' active'">
 					<a th:if="${page.number eq i}" class="page-link" th:href="@{''(page=${i})}" th:text="${i+1}"></a>
					<a th:if="${not (page.number eq i)}" class="page-link" th:href="@{''(page=${i})}" th:text="${i+1}"></a>
				</li>
				<li class="page-item" th:classappend="*{page.last} ? 'disabled' : ''">
					<a th:href="@{''(page=${page.number+1})}" class="page-link" data-th-attr="page=${page.number} + 1" aria-label="Next">
						<span aria-hidden="true">»</span>
					</a>
				</li>
	
			</ul>
		</div>


</div>

<div th:fragment="gallery">
		<div class="text-center" aria-label="Page navigation" th:if="${page.totalPages>0}">
			<ul class="pagination d-inline-flex" 
				th:with="elementsperpage=2, blocksize=5, 
						pages=${page.number+1}/${elementsperpage}, 
						wholepages=${T(Math).ceil(pages)},
						whole=(${page.number+1}/${blocksize})+1, 
						wholex=${T(Math).ceil(whole)}, 
						startnlockpage=${wholepages}*${blocksize+1}, 
						endblockpage=${wholepages}*${blocksize+1}, 
						startpage=${wholex-1}*${blocksize}, 
						endpage=(${wholex}*${blocksize})+1">
				<li class="page-item" th:classappend="*{page.first} ? 'disabled' : ''">
					<a th:href="@{''(page=${page.number-1})}" class="page-link" data-th-attr="page=${page.number} - 1" aria-label="Previous">
						<span aria-hidden="true">«</span>
					</a>
				</li>
 				<li class="page-item" th:each="i : ${#numbers.sequence(endpage-11, (endpage lt page.totalPages)? endpage-2 : page.totalPages-1)}" th:classappend="${page.number}==${i}?' active'">
 					<a th:if="${page.number eq i}" class="page-link" th:href="@{''(page=${i})}" th:text="${i+1}"></a>
					<a th:if="${not (page.number eq i)}" class="page-link" th:href="@{''(page=${i})}" th:text="${i+1}"></a>
				</li>
				<li class="page-item" th:classappend="*{page.last} ? 'disabled' : ''">
					<a th:href="@{''(page=${page.number+1})}" class="page-link" data-th-attr="page=${page.number} + 1" aria-label="Next">
						<span aria-hidden="true">»</span>
					</a>
				</li>
	
			</ul>
		</div>

</div>
 </body>
</html>