<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<head>
</head>


<section th:fragment="basic">

	<div class="read-row" th:utext="${board.content}"></div>
	<div class="row read-row">
		<input type="hidden" id="snsShareTitle" name="snsShareTitle" th:value="'['+${board.category+'] '+board.title}">
		<div class="col-lg-9 col-md-9 col-sm-9 read-title" th:text="'['+${board.category+'] '+board.title}"></div>
		<div class="col-lg-3 col-md-3 col-sm-3 read-date" style="text-align:right;"  th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}"></div>
	</div>
	<hr>
	<div class="row read-row" th:if="${board.filePath != null and board.filePath != ''}"><div class="col-lg-12 col-md-12 col-sm-12" style="text-align:right;"><a class="read-files" th:href="${board.filePath}" th:utext="${board.fileName}" th:download="${board.fileName}"></a></div></div>
	<br>


</section>

<section th:fragment="video">
	<div class="headline">
		<div class="meta_wrap">
			<div class="main_wrap">
				<div class="txt">
					<p class="tit" th:text="${board.title}">Portland</p>
					<p class="write" th:text="${board.userDTO.userName}">by Sunstra Maneerattana</p>
				</div>
				<div class="btns button-area item-download"><button class="btn btn_download_video"
															   th:id="@{'download_'+${board.id}}"
															   th:data-href="${board.videoFileUrl}"
															   th:data-download="@{${board.title.replace(' ','_')}+'_'+${board.userDTO.userName}}">다운로드</button></div>

			</div>


			<div class="spec_wrap">
				<div class="f_left">
					<div class="item"><span class="tit">재생시간</span><span class="desc" th:text="${board.videoDuration}">49:30:10</span></div>
					<span class="hr"></span>
					<div class="item"><span class="tit">파일크기</span><span class="desc" th:text="${board.videoFileDisplaySize}">364Mb</span></div>
				</div>
				<div class="f_right">
					<div class="item"><span class="tit">등록일</span><span class="desc"  th:text="${#dates.format(board.registeredDate, 'yyyy.MM.dd HH:mm:ss')}">2019.01.24</span></div>
					<span class="hr"></span>
					<div class="item"><span class="tit">최종수정일</span><span class="desc" th:text="${#dates.format(board.lastUpdateDate, 'yyyy.MM.dd HH:mm:ss')}">2019.12.04</span></div>
				</div>
			</div>

			<pre class="video_desc" th:text="${board.explanation}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</pre>

		</div>

	</div>
	<div class="video_play_wrap">
		<div class="player">
			<video preload="metadata" width="100%" height="100%" id="video1" ontimeupdate="onTimeUpdate.apply(this)" onseeked="onSeeked.apply(this)" controls controlsList="nodownload">
				// Replace these with your own video files.
				<source th:src="${board.videoFileUrl}"
						type="video/mp4"/>
				HTML5 Video is required for this example.
				<a th:href="${board.videoFileUrl}"
				   download="${board.videoFileUrl}">Download the video</a> file.
			</video>
		</div>
		<div class="tags_wrap screen">
			<p class="tit">Screen Tags</p>
			<div class="list" id="detailTags">
				<div class="item_tag"></div>
			</div>
		</div>
	</div>
	<div class="tags_wrap all">
		<p class="tit">All Tags</p>
		<div class="list">
			<div class="item_tag" th:each="tag : ${board.tags}">
				<a th:href="@{'/content/videos?tag='+${tag}}" th:text="@{'#'+${tag}}"></a>
			</div>
		</div>
	</div>

</section>

<section th:fragment="admin">
	<div class="form-group has-feedback row">				
		<label for="name" class="col-sm-1 col-form-label">제목</label> 
		<div class="col-sm-11">
			<input type="text" class="form-control" id="title" name="title" placeholder="이름" th:value="${board.title}" readonly>
		</div>
	</div>
	<div class="form-group has-feedback row">				
		<label for="name" class="col-sm-1 col-form-label">범주</label> 
		<div class="col-sm-11">
			<input type="text" class="form-control" id="category" name="category" placeholder="이름" th:value="${board.category}" readonly>
		</div>
	</div>
	<div class="form-group has-feedback row">
		<label for="name" class="col-sm-1 col-form-label">내용</label> 
		<div class="col-sm-11">
			<div th:utext="${board.content}"></div>
		</div>

	</div>
	<div class="form-group has-feedback row">
		<label for="name" class="col-sm-1 col-form-label">작성자</label> 
		<div class="col-sm-11">
			<input type="text" class="form-control" id="writer" name="writer" placeholder="작성자" th:value="${board.writer}" readonly>
		</div>

	</div>
	<div class="form-group has-feedback row">
		<label for="name" class="col-sm-1 col-form-label">작성일</label> 
		<div class="col-sm-11">
			<input type="text" class="form-control" id="regDate" name="regDate" placeholder="작성일" th:value="${board.regDate}" readonly>
		</div>

	</div>
	<div class="form-group has-feedback row">
		<label for="name" class="col-sm-1 col-form-label">첨부파일</label> 
		<div class="col-sm-11">
			<div class="row read-row" th:if="${board.filePath != null and board.filePath != ''}"><div class="col-lg-9 col-md-9 col-sm-9"><a class="read-files" th:href="${board.filePath}" th:utext="${board.fileName}" th:download="${board.fileName}"></a></div></div>
		</div>

	</div>
	
	<div class="text-center">
		<a class="btn btn-outline-success" role="button" th:href="@{'../edit/' + ${board.id.boardSeq}}">수정</a> 
		<a class="btn btn-outline-success" role="button" th:href="@{'../delete/' + ${board.id.boardSeq}}">삭제</a> 
		<a class="btn btn-outline-success" role="button" th:href="@{../}">목록</a>

	</div>
</section>
<section th:fragment="bottom">
	<hr class="bottom">
	<div class="row read-row">
		<div class="col-lg-9 col-md-9 col-sm-9 sns-container">
		<a id="kakao-link-btn" href="javascript:shareFacebook()"> <img src="/images/sns/b_sns_fb.png" ></a>
		<a id="kakao-link-btn" href="javascript:shareTwitter('#snsShareTitle')"> <img src="/images/sns/b_sns_tw.png" ></a>
		<a id="kakao-link-btn" href="javascript:shareKakao('#snsShareTitle')"> <img src="/images/sns/b_sns_kt.png" ></a>
		<!-- <a id="kakao-link-btn" href="javascript:sendLink('#snsShareTitle')"> <img src="/images/sns/b_sns_bn.png" ></a> --> 
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:right;"><a th:href="@{../}">목록</a></div>
	</div>

	<hr class="bottom">
	<div class="row" style="padding-left:15px; padding-right:15px;" th:if="${prev}">
		<div class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{'../read/' + ${prev.id.boardSeq}}">이전글</a></div>
		<div class="col-lg-11 col-md-11 col-sm-11"><a th:href="@{'../read/' + ${prev.id.boardSeq}}" th:text="${prev.title}"></a></div>
	</div>
	<hr>
	<div class="row" style="padding-left:15px; padding-right:15px;" th:if="${next}">
		<div class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{'../read/' + ${next.id.boardSeq}}">다음글</a></div>
		<div class="col-lg-11 col-md-11 col-sm-11"><a th:href="@{'../read/' + ${next.id.boardSeq}}" th:text="${next.title}"></a></div>
	</div>
	<hr>
</section>

<section th:fragment="bottom-gallery">
	<hr class="bottom">
	<div class="row read-row">
		<div class="col-lg-9 col-md-9 col-sm-9 sns-container">
		<a id="kakao-link-btn" href="javascript:shareFacebook()"> <img src="/images/sns/b_sns_fb.png" ></a>
		<a id="kakao-link-btn" href="javascript:shareTwitter('#snsShareTitle')"> <img src="/images/sns/b_sns_tw.png" ></a>
		<a id="kakao-link-btn" href="javascript:shareKakao('#snsShareTitle')"> <img src="/images/sns/b_sns_kt.png" ></a>
		<!-- <a id="kakao-link-btn" href="javascript:sendLink('#snsShareTitle')"> <img src="/images/sns/b_sns_bn.png" ></a> --> 
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:right;"><a th:href="@{../}">목록</a></div>
	</div>

	<hr class="bottom">
	<div class="row" style="padding-left:15px; padding-right:15px;" th:if="${prev}">
		<div class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{'../read/' + ${prev.id.boardSeq}}">이전글</a></div>
		<div class="col-lg-11 col-md-11 col-sm-11"><a th:href="@{'../read/' + ${prev.id.boardSeq}}" th:text="${prev.title}"></a></div>
	</div>
	<hr>
	<div class="row" style="padding-left:15px; padding-right:15px;" th:if="${next}">
		<div class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{'../read/' + ${next.id.boardSeq}}">다음글</a></div>
		<div class="col-lg-11 col-md-11 col-sm-11"><a th:href="@{'../read/' + ${next.id.boardSeq}}" th:text="${next.title}"></a></div>
	</div>
	<hr>
</section>
 </body>
</html>